<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <title>TRANG CHỦ</title>
  </head>
<body style="">
  <!-- container section start -->
  <section id="container" class="">


    <header class="header dark-bg">


        <!--NAVAR-->
  <!--Navbar-->

  <nav class="navbar navbar-expand-lg navbar-light bg-light">

  <a class="navbar-brand" href="/"><img src="https://yu.ctu.edu.vn/images/upload/article/2020/03/0305-logo-ctu.png" width="60px" ,="" height="60px">     <b>Bản đồ vị trí các cống trong trường Đại Học Cần Thơ</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>




</nav>
  <!-- End Navbar-->
        <!--end NAVAR-->


        <!-- project team & activity start -->
        <div class="row">
          <div class="col-xs-6 col-sm-4 col-lg-3">
            <!-- Widget -->
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="pull-left"><b><p>Chú Thích </p></b></div>

              </div>

              <div class="panel-body">
                <!-- Widget content -->
                <div class="padd sscroll">

                  <ul>

                    <!-- Chat by us. Use the class "by-me". -->
                    <li>
                        <a href="/"><img src="https://lh3.googleusercontent.com/pw/AM-JKLWJMGXBh4g414oL1FXt4uHIhR2y-BrX8ejgxoIYGGdV7C5Oh5_XJ21cEvKQu0KA9ivdbQMVJEO_3m-kEimZ3c84Zb1Emx6L6x4MiprLLcypMpfbQv7RsL6w9NxWlqdMgbt-nfUAvWm0L8S7xFPNL2V5=w164-h178-no?authuser=0" width="60px" ,="" height="60px"></a>
                        <p><b>Mực nước cao :</b>  > 130cm </p>
                    </li>

                    <!-- Chat by other. Use the class "by-other". -->
                    <li>
                        <a  href="/"><img src="https://lh3.googleusercontent.com/pw/AM-JKLUQ7ok6zdPNdXLSyhTemje6FPY8OizKh6AJr5YUKY5Ao0yaTFDdL2kmtY_jaahiYFZeYhcOpTxZXf7VBQGAc0vukshoWE1AQQTbEFmMw3CaAOIsu7XonTlEymFGSf2_iuyEhDuba2MOeii88s-YQq4e=w126-h138-no?authuser=0" width="60px" ,="" height="60px"></a>

                        <p><b>Mực nước trung bình :</b> </br>70cm - 130cm </p>
                    </li>

                    <li>
                        <a  href="/"><img src="https://lh3.googleusercontent.com/pw/AM-JKLV_esmi2esuALOvLeUHYTt172XimyJQKuDW8rY38RtJYbIrhXxvvwsYGV_t0bnZ3TtUSsJTCPadwXQKyfTdbPRkLASbSrI3lyE7kJM5CziVSe4dQ7Ec06FXP871kbMUDdb-B06syeyDMfIKe1hzZLut=w141-h143-no?authuser=0" width="60px" ,="" height="60px"></a>

                        <p><b>Mực nước thấp :</b> < 70cm </p>
                    </li>

                    <div class="row mt-4">

              {{ n|safe }}
              {{ h|safe }}



  </div>

                  </ul>

                </div>
                <!-- Widget footer -->
                  <div class="pull-left"<b>{{canhbao1}}</b></div>
                <b>{{ canhbao|safe }}</b>
              </div>
              <div class="panel-body">
                <div class="padd sscroll">


                </div>
               <!-- canhbao-->


                  <!-- endcanhbao-->
              </div>


            </div>
          </div>



        <!--MAP-->

          <div class="col-xs-6 col-sm-8 col-lg-8">

      <div class="row mt-4">

              {{ m|safe }}



  </div>
        <!--end MAP-->
               <div class="offcanvas-body-container">

                        <h1>Bản đồ vị trí các cống trong trường Đại Học Cần Thơ</h1>
                        <p> <b>Bản đồ giúp người quản lý có thể tìm kiếm, xem được các giá trị như trạng thái mực
                            nước 2 bên cống, lượng mưa, trạng thái nắp cống và vị trị chính xác nơi lắp đặt.
                             <br><br>

                            Dữ liệu chuyên môn về điều khiển đóng mở cống thoát nước được cung cấp bởi nhóm thực hiện đề tài luận
                            văn
                            tốt
                            nghiệp năm 2020-2021 và được cập nhật ngay sau khi có dữ liệu được cập nhật trên firebase.
                            <br><br>

                            Nhóm thực hiện đề tài hy vọng bản đồ quản lý này là công cụ hỗ trợ hạn
                            chế tình trạng ngập úng và tắt nghẽn nguồn nước trong hệ thống cống giảm nguy cơ ô nhiễm gây tổn hại về tài sản cũng như sức khỏe của người dân</b>
                           </p>

<!--cuowioistrang-->
                        <div class="py-4 mt-5">
                            <div class="container-fluid">
                                <div class="d-flex align-items-center justify-content-between small">
                                    <div class="text-muted">© Nguyễn Hữu Hoàng _ Lê Đức Bảo| GVHD: TS Trương Phong Tuyên
                                    </div>
                                    <div>
                                        <a href="#">Privacy Policy</a>
                                        ·
                                        <a href="https://console.firebase.google.com/u/0/project/dkcongthoatnuoc/database/dkcongthoatnuoc-default-rtdb/data" target="_blank">Firebase</a>
                                        <a href="https://github.com/Leopard2A7V/TreeManager/blob/main/ChangeLog.md" target="_blank">V1.0.3b</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

    </section>
  </section>
  <script type="text/javascript">
  window.setTimeout(function () {
    location.href = "";
}, 100000); // refresh/redirect after 5 seconds.
</script>
</html>